// COLORS

// SIMPLE COLORS
$clr-white: #fff;
$clr-black: #000;

// BACKGROUND COLORS
$bg-clr-1: #f5f6f7;
$bg-clr-2: #eff1f2;

// TEXT COLORS
$text-clr-1: #9fa3a6;
$text-clr-2: #7f888f;
$text-clr-3: #3d4449;
$text-clr-4: #f56a6a;

$text-clr-body: #7f888f;
$text-clr-heading: #3d4449;

// FONT

// FONT SIZE
$fs-h1: 5.2rem;
$fs-h2: 2.6rem;
$fs-h3: 1.8rem;
$fs-body: 1.5rem;

// FONT FAMILY
$ff-primary: "Roboto Slab", serif;
$ff-body: "Open Sans", sans-serif;

// FONT WEIGHT
$fw-thin: 100;
$fw-light: 300;
$fw-semi-bold: 600;

// BORDER
$border-bottom-red: solid 3px $text-clr-4;
$border-bottom-normal: 1px solid $text-clr-1;
$border-bottom-normal-thick: 3px solid $text-clr-1;

$btn-border: 2px solid $text-clr-4;

$common-br: 5px;

// BOX SHADOW
$box-shadow: 2rem 0 5rem
  rgba(
    $color: #000000,
    $alpha: 0.15,
  );
