.btn {
  border: $btn-border;
  background-color: transparent;
  padding: 1rem 2rem !important;
  border-radius: $common-br;
  color: $text-clr-4;
  font-family: $ff-primary;
  font-weight: $fw-semi-bold;
  cursor: pointer;

  &:hover {
    background-color: $text-clr-4;
    color: $clr-white;
  }
}