.btn {
  border: 2px solid $text-clr-4;
  background-color: transparent;
  padding: 1rem 2rem !important;
  border-radius: 0.5rem;
  color: $text-clr-4;
  font-family: $ff-primary;
  font-weight: $fw-semi-bold;
  cursor: pointer;
}