// MAIN
.main {
  width: calc(100vw - 30rem);
  margin: 0 5rem;

  @include respond(phone) {
    width: 100vw;
  }
}

// ABOUT
.about {
  padding-bottom: 5rem;
  border-bottom: 3px solid #9fa3a6;

  &__grid-container {
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem 8rem;

    @include respond(phone) {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
    }
  }

  &__grid-item {
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__icon-container {
    border: 1.5px solid $text-clr-1;
    border-radius: $common-br;
    padding: 2rem;
    height: fit-content;
    width: min-content;
    transform: rotateZ(45deg);

    @include respond(phone) {
     margin-left: 2rem;
    }
  }

  &__icon {
    color: $text-clr-4;
    font-size: 3rem;
    transform: rotateZ(-45deg);
  }

  &__text-container {
    padding: 0 0 0 4rem;

    @include respond (phone) {
      padding: 4rem 0 0 0;
    }
  }
}

// BLOGS
.blogs {
  &__container {
    display: flex;
    border-bottom: solid 2px $bg-clr-2;

    @include respond (phone) {
      flex-direction: column;
      border-bottom: none;
    }
  }

  &__item {
    &--1 {
      border-right: solid 2px $bg-clr-2;
      padding-right: 4rem;
      display: flex;
      flex-direction: column;

      @include respond (phone) {
        border-bottom: solid 2px $bg-clr-2;
        border-right: none;
        padding-right: 0;
      }
    }

    &--2 {
      padding-left: 4rem;
      display: flex;
      flex-direction: column;

      @include respond (phone) {
        border-bottom: solid 2px $bg-clr-2;
        padding-left: 0;
      }
    }
  }

  &__image {
    border-radius: 1rem;
    margin: 4rem 0;

    &--1 {
      margin-top: 0;
    }

    &--2 {
      margin-top: 0;

      @include respond (phone) {
        margin-top: 4rem;
      }
    }
  }

  &__text-container {
    & > * {
      margin-bottom: 3rem;
    }
  }

  /* &__grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  &__grid-item {
    padding: 4rem 0;

    &:nth-child(1) {
      padding-top: 0;
    }

    &:nth-child(2) {
      padding-top: 0;
      display: flex;
    }

    &:nth-child(odd) {
      border-right: solid 2px $text-clr-1;
      border-bottom: solid 2px $text-clr-1;
      padding-right: 4rem;
    }

    &:nth-child(even) {
      border-bottom: solid 2px $text-clr-1;
      padding-left: 4rem;
    }
  }

  &__grid-inner-item {
    justify-self: flex-end;
  } */

  &__text-container {
    max-width: 85%;
  }

  &__image {
    max-width: 100%;
  }
}
